/*首页*/

.mui-a {
	position: relative;
	width: 100%;
	height: 160px;
	/*padding-bottom: 50%;*/
	overflow: hidden;
	background-color: #eee;
}

.mui-a img {
	height: 160px !important;
}

.Cable {
	float: left;
	width: 230px;
	height: 25px;
	background: #ba7171;
	margin-top: 9px;
	margin-left: 10px;
	border-radius: 5px 5px 5px 5px;
}

.Cable img {
	margin-left: -2px;
	margin-top: -2px;
}

.Scan {
	position: absolute;
	right: 10px;
	top: 0;
}