*{
	margin: 0px;
	padding: 0px;
}
.mui-bar>a{
	color:white !important; 
}
body,.mui-content{
	background: white ;
}
.mui-bar{
	background: #b00808 !important;
}
h1{
	color: white !important;
	font-size: 20px !important;
}
.mui-bar-nav{
	-webkit-box-shadow:none;
	box-shadow:none;
}
.mui-active{
	background: white !important; 
}

.wod,.manage{
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
}
i{
	font-style: normal;
}