.mui-content{
	padding-bottom: 13px;
}
/*详情图*/
.detail-img{
	width: 100%;
	height: 200px;
}
.detail-img img{
	width: 100%;
	height: 200px;
}
/*详情信息*/
.det-box{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;
}
.det-box .det-top{
	width: 100%;
	height: 25px;
	line-height: 25px;
}
.det-box .det-bottom{
	width: 100%;
	height: 25px;
	line-height: 25px;
}
.top-left{
	width: 50%;
	height: 100%;
}
.top-right{
	color: #B00808;
	font-size: 16px;
}
.det-tit{
	font-size: 16px;
}
.bottom-left{
	width: 40%;
	height: 100%;
}
.bottom-right{
	color: #aaa;
	font-size: 14px;
}
.det-icon{
	width: 100%;
	height: 100%;
	margin-top: -5px;
}
.det-icon img{
	width: 100%;
	height: 65px;
	margin-top: -24px;
}
/*描述*/
.describe{
	padding-top: 20px;
}
.liao-tit,.make-tit{
	color: #000;
	font-size: 1.0em;
}
.step-div{
	width: 100%;
}
.step-num{
	color: #8f8f94;
	font-size: 1.1em;s
	float: left;
}
.box_pic{
	width: 100%;
	height: 130px;
	text-align: center;
	overflow: hidden;
}
.box_pic img{
	width: 94%;
}
#add-dd{
	background-color: #B00808;
	color: #fff;
	padding:7px 20px;
	float: right;
	border: none;
	margin-right: 10px;
	border-radius: 5px;
	margin-top: 9px;
}
/*.check{
	padding: 10px 15px;
	background: #B00808;
	float: right;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 4px;
}*/
.check{
	color: #000 !important;
	float: right;
	margin-top: 16px;
	margin-right: 10px;
	
}
.bottom{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.mui-content-padded{
	padding: 0px 6px;
}
.mui-content{
	background-color: #fff;
	padding-bottom: 20px;
}
.mui-bar{
	background-color: white !important;
}
.check{
	font-size: 16px !important;
}
.mui-bar{
	-webkit-box-shadow:0 0 1px rgba(0,0,0,0) !important;
	box-shadow: 0 0 1px rgba(0,0,0,0);
}
.mui-bar-nav{
	-webkit-box-shadow:none;
}
p{
	font-size: 12px !important;
}
