<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
<!-- <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="__PUBLIC__/css/bootstrap-fileinput.css" rel="stylesheet"> -->
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/pintuer.js"></script>
<style type="text/css">
.tu{width: 260px; height: 160px;} 
</style>

<script type="text/javascript">
    function show(){
      //获取被选中的下拉框
      var sea=$('select option:selected').val();

      $url = '{:U("Menu/sea")}';

      $.post($url,{typeid:sea},function(dd){

        $menu = eval(dd);
        $str = "<table class='table table-hover text-center' id='tab'><tr><th width='100'style='text-align:left; padding-left:20px;'>ID</th><th>菜品图</th> <th>菜品名称</th> <th>菜品所属系列</th> <th>菜品价格</th> <th width='310'>操作</th> </tr>";
        for (var i = 0; i <$menu.length; i++) {
          $str+="<tr><td style='text-align:left; padding-left:20px;'>"+$menu[i]['id']+"</td><td width='10%'><img src='__UPLOAD__/"+$menu[i]['minfo_img']+"'' width='70' height='50' /></td><td>"+$menu[i]['minfo_name']+"</td><td><font color='#00CC99'>"+$menu[i]['mtype_name']+"</font></td><td>"+$menu[i]['minfo_price']+"￥</td><td><div class='button-group'> <a class='button border-main'href='{:U('Menu/updminfo')}?id="+$menu[i]['id']+"'><span class='icon-edit'></span> 修改</a> <a class='button border-red' href='{:U('Menu/delminfo')}?id="+$menu[i]['id']+"'  onclick='return confirm('您确认要将此菜品删除吗?');'><span class='icon-trash-o'></span> 删除</a> </div></td></tr>";

        }
          $('#tab').html($str);

      })

    }
</script>

</head>
<body>

  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 菜品列表</strong> </div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> 
        <a class="button border-main icon-plus-square-o" onclick="window.location.href='#add'" > 添加内容
        </a> 
        </li>
        <li style="margin-left: 300px;">
          <form action="" method="">
          &nbsp;&nbsp;
            菜品查询：
            <select id="mtype_name" name="mtype_name" class="input" onchange="show()"  
              style="width:150px;
             line-height:17px;display:inline-block">
              <option value="">请选择菜品类型</option>
              <foreach name="data1" item="ty">
              <option value="{$ty.mtype_id}">{$ty.mtype_name}</option>
              </foreach>
            </select>
          &nbsp;&nbsp;  
          </form>
        </li>
        <li style="margin-left: 20px;">
            <form action="{:U('Menu/menuinfomohu')}" method='post'>
           
              <input type="text" placeholder="请输入搜索菜品名称" name="keywords" class="input" style="width:250px; line-height:17px;display:inline-block" />
            <input type="submit" class="button border-main icon-search" value="输入并搜索">
            </form>
        </li>
      </ul>
    </div>
    <table class="table table-hover text-center" id='tab'>
      <tr>
        <th width="100" style="text-align:left; padding-left:20px;">ID</th>
        <th>菜品图</th>
        <th>菜品名称</th>
        <th>菜品所属系列</th>
        <th>菜品价格</th>
        <th width="310">操作</th>
      </tr>
      <foreach name="data" item="minfo">
        <tr>
          <td style="text-align:left; padding-left:20px;">{$minfo.id}</td>
          <td width="10%"><img src="__UPLOAD__/{$minfo.minfo_img}" alt="" width="70" height="50" />
          </td>
          <td>{$minfo.minfo_name}</td>
          <td><font color="#00CC99">{$minfo.mtype_name}</font></td>
          <td>￥{$minfo.minfo_price}</td>
          <td><div class="button-group"> <a class="button border-main" 
          href="{:U('Menu/updminfo')}?id={$minfo.id}"><span class="icon-edit"></span> 修改</a> <a class="button border-red" href="{:U('Menu/delminfo')}?id={$minfo.id}" 
          onclick="return confirm('您确认要将此菜品删除吗?');"><span class="icon-trash-o"></span> 删除</a> </div></td>
        </tr>
   		</foreach>
      <tr>
        <td colspan="6">
        <div class="pagelist"><span>{$page}</span> </div>
        </td>
    </tr>
    </table>
  </div>

<div class="panel admin-panel margin-top" id="add">
  <div class="panel-head" id="add">
  <strong><span class="icon-pencil-square-o"></span> 添加更多菜品</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:U('Menu/addminfo')}" enctype="multipart/form-data">    
      <div class="form-group">
        <div class="label">
          <label>菜品名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="minfo_name" 
          data-validate="required:请输入菜品名称" />
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>菜品图：</label>
        </div>
        <div class="field">
          <input type="file"  name="minfo_img" style="float:left;" data-validate="required:请选择菜品图">
          <div class="tipss">菜品图片仅支持.jpg, .gif, .png, .jpeg 格式</div>
        </div>
      </div>

      <div class="form-group">
          <div class="label">
            <label>菜品所属类型：</label>
          </div>
          <div class="field">
            <select name="mtype_id" class="input w50">
              <option value="">请选择菜品类型</option>
              <foreach name="data1" item="t">
              <option value="{$t.mtype_id}">{$t.mtype_name}</option>
              </foreach>
            </select>
            <div class="tips"></div>
          </div>
        </div>
      <div class="form-group">
        <div class="label">
          <label>菜品价格：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="minfo_price" value=""  data-validate="required:,number:菜品单价必须为数字" />
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>菜品原价：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="minfo_original" value=""  data-validate="required:,number:菜品原价必须为数字" />
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>菜品数量：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="minfo_count" value=""  data-validate="required:,number:菜品数量必须为数字" />
          <div class="tips"></div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label>是否推荐：</label>
        </div>
        <div class="field">
          <div class="button-group radio">
          <label class="button active">
            <span class="icon icon-check"></span>             
              <input name="minfo_istuijian" value="1" type="radio" checked="checked">是             
          </label>             
        
          <label class="button active"><span class="icon icon-times"></span>            
              <input name="minfo_istuijian" value="0"  type="radio" checked="checked">否
          </label>         
           </div>       
        </div>
     </div>

      <div class="form-group">
        <div class="label">
          <label>是否新菜：</label>
        </div>
        <div class="field">
          <div class="button-group radio">
          
          <label class="button active">
            <span class="icon icon-check"></span>             
              <input name="minfo_isnew" value="1" type="radio" checked="checked">是             
          </label>             
        
          <label class="button active"><span class="icon icon-times"></span>            
              <input name="minfo_isnew" value="0"  type="radio" checked="checked">否
          </label>         
           </div>       
        </div>
     </div>
      
      <div class="form-group">
        <div class="label">
          <label>菜品描述：</label>
        </div>
        <div class="field">
          <textarea name="minfo_remark" data-validate="required:菜品简介不能为空" class="input" style="height:450px; border:1px solid #ddd;"></textarea>
          <div class="tips"></div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 确认添加此菜</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>