<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>出生日期</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/home/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/home/css/app.css" />
		<link rel="stylesheet" href="__PUBLIC__/home/css/mui.picker.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/home/css/Birthday/birthday.css" />
	</head>

	<body>
		<script src="__PUBLIC__/home/js/mui.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.11.0.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">标题</h1>
		</header>

		<body class="mui-ios mui-ios-9 mui-ios-9-1">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">出生日期</h1>
			</header>
			<div class="mui-content">
				<!--表单-->
					<div class="mui-content-padded">
						<div id="demo2" data-options="{&quot;type&quot;:&quot;date&quot;,&quot;beginYear&quot;:1880,&quot;endYear&quot;:2018}" class="btn mui-btn mui-btn-block">
							<div id="result" class="ui-alert">{$result.u_birthday}</div>
						</div>
						<!--确定按钮-->
						<div class="d-btns">
							<input type="button" value="确定" class="btnyes" />
						</div>
					</div>
			</div>
			<script type="text/javascript" src="__PUBLIC__/home/js/mui.picker.min.js"></script>
			<script>
				(function($) {
					$.init();
					var result = $('#result')[0];
					var btns = $('.btn');
					btns.each(function(i, btn) {
						btn.addEventListener('tap', function() {
							var optionsJson = this.getAttribute('data-options') || '{}';
							var options = JSON.parse(optionsJson);
							var id = this.getAttribute('id');
							var picker = new $.DtPicker(options);
							picker.show(function(rs) {
								result.innerText = rs.text;
								picker.dispose();
							});
						}, false);
					});
				})(mui);

				$('.btnyes').click(function(){
					
					$url = '{:U("Our/upbir")}';

					$.post($url,{birthday:$('.ui-alert').text()},function(dd){
						$url = '{:U("Our/index")}';
						location.href=$url;
					})
				})

			</script>

		</body>

</html>