<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
		<script src="__PUBLIC__/home/js/mui.min.js"></script>
		<link href="__PUBLIC__/home/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/home/css/Home/home.css" />
		<link rel="stylesheet" href="__PUBLIC__/home/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/home/css/footer/footer.css" />
		<link rel="stylesheet" href="__PUBLIC__/home/css/icons-extra.css" />r
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
		<style>
			.mui-active{
				background: #B00808 !important;
			}
		</style>
	</head>

	<body>
		<!--头部-->
		<include file="common/header"/>
		<!--轮播-->
		<div class="mui-content">
			<div class="mui-slider mui-a">
				<div class="mui-slider-group mui-slider-loop mui-pic">
					<div class="mui-slider-item">
						<a href="detail.html"><img src="__PUBLIC__/home/img/home/banner-5.jpg" /></a>
					</div>
					<div class="mui-slider-item">
						<a href="detail.html"><img src="__PUBLIC__/home/img/home/banner-3.jpg" /></a>
					</div>
					<div class="mui-slider-item">
						<a href="detail.html"><img src="__PUBLIC__/home/img/home/banner1.png" /></a>
					</div>
					<div class="mui-slider-item">
						<a href="detail.html"><img src="__PUBLIC__/home/img/home/banner-6.jpg" /></a>
					</div>
					<div class="mui-slider-item">
						<a href="detail.html"><img src="__PUBLIC__/home/img/home/banner-4.jpg" /></a>
					</div>
					<div class="mui-slider-item">
						<a href="detail.html"><img src="__PUBLIC__/home/img/home/banner-5.jpg" /></a>
					</div>

					<div class="mui-slider-item">
						<a href="detail.html"><img src="__PUBLIC__/home/img/home/banner-3.jpg" /></a>
					</div>
				</div>
				<div class="mui-slider-indicator w_banner">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
			<!--八个主题区-->
			<div class="H-box">
				<div class="eight-z">
					<ul>
						<li>
							<a href="Discount.html">
								<img src="__PUBLIC__/home/img/home/1.gif" />
								<p class="mui-text-center">限时折扣</p>
							</a>
						</li>
						<li>
							<a>
								<img src="__PUBLIC__/home/img/home/2.gif" />
								<p class="mui-text-center">热卖推荐</p>
							</a>
						</li>
						<li>
							<a>
								<img src="__PUBLIC__/home/img/home/3.gif" />
								<p class="mui-text-center">明星菜品</p>
							</a>
						</li>
						<li>
							<a href="Ranking.html?id=12">
								<img src="__PUBLIC__/home/img/home/4.gif" />
								<p class="mui-text-center">一周热门</p>
							</a>
						</li>
					</ul>
					<ul>
						<li>
							<a>
								<img src="__PUBLIC__/home/img/home/5.gif" />
								<p class="mui-text-center">人气菜肴</p>
							</a>
						</li>
						<li>
							<a href="Ranking.html?id=10">
								<img src="__PUBLIC__/home/img/home/6.gif" />
								<p class="mui-text-center">新品发布</p>
							</a>
						</li>
						<li>
							<a>
								<img src="__PUBLIC__/home/img/home/7.gif" />
								<p class="mui-text-center">食神菜单</p>
							</a>
						</li>
						<li>
							<a href="Discount.html">
								<img src="__PUBLIC__/home/img/home/8.png" />
								<p class="mui-text-center">优惠活动</p>
							</a>
						</li>
					</ul>
					<!--分割线-->
					<hr style="border: 0.5px solid gainsboro;" />
				</div>
				<!--广告位-->
				<div class="guanggaowei">
					<img src="__PUBLIC__/home/img/home/banner1.png" />
				</div>
				<hr style="border: 0.5px solid gainsboro; margin-top: 5px;" />
				<!--限时折扣-->
				<div class="uls xianshizhekou">

					<!--主题名称-->
					<div class="z-name">
						<p><span>限时折扣</span> </p>
					</div>
					<!--限时折扣列表-->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<!--bigpic  菜品大图广告-->
				<div class="big-pic">
					<div>麻辣小龙虾</div>
					<ul>
						<li>
							<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
						</li>
						<li>
							<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
						</li>
						<li>
							<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
						</li>
					</ul>
					<!--菜品大图-->
					<div class="c-bigimg">
						<img src="__PUBLIC__/home/img/home/banner1.png" />
					</div>
				</div>

				<!--热卖推荐-->
				<div class="uls xianshizhekou">

					<!--主题名称-->
					<div class="z-name">
						<p><span>热卖推荐</span> </p>
					</div>
					<!--限时折扣列表-->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
					</ul>

					<!--bigpic  菜品大图广告-->
					<div class="big-pic">
						<div>麻辣小龙虾</div>
						<ul>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
						</ul>
						<!--菜品大图-->
						<div class="c-bigimg">
							<img src="__PUBLIC__/home/img/home/banner1.png" />
						</div>
					</div>
				</div>
				<!--明星菜品-->
				<div class="uls xianshizhekou">

					<!--主题名称-->
					<div class="z-name">
						<p><span>明星菜品</span> </p>
					</div>
					<!--限时折扣列表-->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
					</ul>

					<!--bigpic  菜品大图广告-->
					<div class="big-pic">
						<div>麻辣小龙虾</div>
						<ul>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
						</ul>
						<!--菜品大图-->
						<div class="c-bigimg">
							<img src="__PUBLIC__/home/img/home/banner1.png" />
						</div>
					</div>
				</div>
				<!--一周热门-->
				<div class="uls xianshizhekou">

					<!--主题名称-->
					<div class="z-name">
						<p><span>一周热门</span> </p>
					</div>
					<!--限时折扣列表-->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
					</ul>

					<!--bigpic  菜品大图广告-->
					<div class="big-pic">
						<div>麻辣小龙虾</div>
						<ul>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
						</ul>
						<!--菜品大图-->
						<div class="c-bigimg">
							<img src="__PUBLIC__/home/img/home/banner1.png" />
						</div>
					</div>
				</div>

				<!--人气菜肴-->
				<div class="uls xianshizhekou">

					<!--主题名称-->
					<div class="z-name">
						<p><span>人气菜肴</span> </p>
					</div>
					<!--限时折扣列表-->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
					</ul>

					<!--bigpic  菜品大图广告-->
					<div class="big-pic">
						<div>麻辣小龙虾</div>
						<ul>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
						</ul>
						<!--菜品大图-->
						<div class="c-bigimg">
							<img src="__PUBLIC__/home/img/home/banner1.png" />
						</div>
					</div>
				</div>

				<!--新品发布-->
				<div class="uls xianshizhekou">

					<!--主题名称-->
					<div class="z-name">
						<p><span>新品发布</span> </p>
					</div>
					<!--限时折扣列表-->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
					</ul>

					<!--bigpic  菜品大图广告-->
					<div class="big-pic">
						<div>麻辣小龙虾</div>
						<ul>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
						</ul>
						<!--菜品大图-->
						<div class="c-bigimg">
							<img src="__PUBLIC__/home/img/home/banner1.png" />
						</div>
					</div>
				</div>
				<!--食神菜单-->
				<div class="uls xianshizhekou">

					<!--主题名称-->
					<div class="z-name">
						<p><span>食神菜单</span> </p>
					</div>
					<!--限时折扣列表-->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
					</ul>

					<!--bigpic  菜品大图广告-->
					<div class="big-pic">
						<div>麻辣小龙虾</div>
						<ul>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
						</ul>
						<!--菜品大图-->
						<div class="c-bigimg">
							<img src="__PUBLIC__/home/img/home/banner1.png" />
						</div>
					</div>
				</div>

				<!--优惠活动-->
				<div class="uls xianshizhekou">

					<!--主题名称-->
					<div class="z-name">
						<p><span>优惠活动</span> </p>
					</div>
					<!--限时折扣列表-->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src="__PUBLIC__/home/img/recommended/2a7412c756a8f7d111fd4c3ca62b83d229cad6831ffed-IK5txR_fw658.jpg">
								<div class="mui-media-body">
									虫草花炒肉丝
									<div class='ms'>里脊肉丝、虫草花、黑木耳、生抽、淀粉、虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳虫草花、heig木耳</div>
									<div class='bot-xq'>
										<div class="mui-text-left">菜谱</div>
										<div class="mui-text-right">详情</div>
									</div>
								</div>
							</a>
						</li>
					</ul>

					<!--bigpic  菜品大图广告-->
					<div class="big-pic">
						<div>麻辣小龙虾</div>
						<ul>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
							<li>
								<a><img src="__PUBLIC__/home/img/recommended/a7311388aaf2a7b25eb3c5efb23dba64cc0e3ed02be6a-9NjQnf_fw658.jpg" /> </a>
							</li>
						</ul>
					</div>
					<!--菜品大图-->
					<div class="c-bigimg">
						<img src="__PUBLIC__/home/img/home/banner1.png" />
					</div>
				</div>
			</div>
			<!--<iframe src="footer.html"  width="100%" frameborder="0" height="49px" style="position: fixed; bottom: 0px;"></iframe>-->
			<!--底部-->
			<include file="common/footer" />
		</div>
	</body>
	<script>
		var gallery = mui('.mui-a');
		gallery.slider({
			interval: 1500 //自动轮播周期，若为0则不自动播放，默认为0；
		});
	</script>

</html>