#demo2{
	width:80%;
	height: 80px !important;
	background:  #f2d5d4 !important;
	margin: 40px auto;
	border: 0px !important;
	position: relative;
}
#result{
	position: absolute;
	width: 100%;
	height: 80px !important;
	bottom: 0px;
	left: 0px;
	margin: auto;
	line-height: 80px;
	color: black;
}
.d-btns{
	width: 90%;
	margin: auto;
}
.btnyes{
	width: 100%;
	height: 38px;
	color: white !important;
	background: #b00808 !important;
	font-size: 18px !important;
	border: 0px;
	border-radius: 5px; 
}
