*{
	margin: 0;
	padding: 0;
}
body,#scroll1{
	background: #B00808 !important;
}
.mui-slider-group {
	height: 100%;
	padding-bottom: 40px;
}

.mui-control-content {
	background-color: white;
	min-height: 215px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.mui-content {
	height: 100%;
}

.mui-slider {
	position: absolute !important;
	top: 45px;
	bottom: 45px;
}

.mui-bar-nav {
	background: #b00808;
}

.mui-bar-nav a {
	color: white;
}

.mui-title {
	color: white;
}
#sliderSegmentedControl{
	background: white !important;
}
