<div class="footer">
	<a href="{:U('Index/index')}"><img src="__PUBLIC__/home/images/home.png" />
		<p>首页</p>
	</a>
	<a href="{:U('Classifi/index')}"><img src="__PUBLIC__/home/img/footer/fenlei.png" />
		<p>分类</p>
	</a>
	<a href="{:U('Menu/menu')}"><img src="__PUBLIC__/home/images/order.png" />
		<p>菜谱</p>
	</a>
	<a href="{:U('Order/index')}"><img src="__PUBLIC__/home/images/addcart.png" />
		<p>订单</p>
	</a>
	<a href="{:U('Our/index')}"><img src="__PUBLIC__/home/images/personalcenter.png" />
		<p>我的</p>
	</a>
</div>