<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>菜品详情</title>
    <script src="__PUBLIC__/home/js/mui.min.js"></script>
    <link href="__PUBLIC__/home/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/xiangqing.css" />
    <link rel="stylesheet" href="__PUBLIC__/home/css/detail/detail.css" />
    <script type="text/javascript" charset="UTF-8">
      	mui.init();
    </script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">{$data.minfo_name}</h1>
	</header>
	<div class="mui-content">
		<!--详情图-->
	    <div class="detail-img">
	    	<img src="__UPLOAD__/{$data.minfo_img}"/>
	    </div>
	    <div class="mui-content mui-content-padded">
	    	<div class="det-box">
		    	<div class="det-top">
		    		<div class="top-left mui-pull-left">
		    			<span class="det-tit">{$data.minfo_name}</span>
		    		</div>
		    		<div class="top-right mui-pull-right">
		    			<i>现价：￥</i><span class="det-price">{$data.minfo_price}</span>
		    		</div>
		    	</div>
		    	<div class="det-bottom">
		    		<div class="bottom-left mui-pull-left">
		    			
		    		</div>
		    		<div class="bottom-right mui-pull-right">
		    			<span>原价：</span><s><i>￥</i><span class="det-Oldprice">{$data.minfo_original}</span></s>
		    		</div>
		    	</div>
		    </div>
		    <!--描述-->
		    <div class="describe">
		    	<!--用料-->
		    	<div class="liao">
		    		<p class="liao-tit">用料：</p>
		    		<p class="liao-content">{$data.minfo_remark}</p>
		    	</div>
		    	
		    </div>
	    </div>
	</div>
	<!--加入订单-->
	<d class="mui-bar mui-bar-tab" id="nav">
		<a class="check" href="{:U('Order/index')}">查看订单</a>
		<form action='{:U("Order/addOrder")}' method="post">
			<input type="hidden" value="{$data.id}" name="menu_id"/>
			<input type="submit" id="add-dd" value="加入订单"/>
		</form>
	    <!--<input type="button" id="add-dd" value="加入订单"/>-->
	    
	</nav>
</body>
<!-- 
<script>
	document.getElementById("add-dd").addEventListener('tap', function() {
		mui.toast('加入成功');
	});

</script> 
-->
</html>