
.register{
	width: 100%;
	height: 220px;
	background: url(../../img/login/logo.png) no-repeat center;
}
.input{
	width:85%;
	height:65px;
	margin: auto;

}
.input-username{
	background: url(../../img/login/user.png) no-repeat left;
	background-size:8% ;
}
.input-userPwd{
	background: url(../../img/login/pwd.png) no-repeat left;
	background-size:8% ;
}
.input>.userName,.input>.userPwd{
	width: 92%;
	margin-left: 28px;
	margin-top:9px;
	border-bottom: 1px solid #b00808;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	outline: none;
	font-size: 14px;
	padding-bottom: 0px;
}
.d-btn{
	width: 86%;
	margin:20px auto;
}
.d-btn>input{
	width: 100%;
	height:40px;
	background: #B00808;
	color: white;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
}

.h-YZM{
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	width: 85%;
	margin: auto;
}
.h-YZM>.yzm{
	border-radius: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #b00808;
	outline: none;
	font-size: 14px;
	padding-bottom: 0px;
}
.hq{
	height: 35px;
	border-radius: 5px;
	color: white !important;
	background: #B00808 !important;
	margin-top: 6px;
	border: 0px;
	font-size: 12px !important;
}
