.n_txt{
	width: 80%;
	margin:40px auto;
	height: 50px;
}
.n_txt>input{
	width: 100%;
	height: 50px;
font-size: 14PX;
	border-radius: 5px;
	background: #f2d5d4;
	border: 0px;
}
.btn{
	width: 90%;
	margin: auto;
}
.n_btn{
	width: 100%;
	color: white !important;
	font-size: 18px !important;
	background: #B00808 !important;
	border-radius: 5px;
}
header {
	background: #B00808 !important;
}

.mui-pull-left {
	color: white !important;
}

h1 {
	font-size: 20px !important;
	color: white !important;
}
body,html,.mui-content{
	background: white !important;
}