.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border: none;
}

.mui-title {
	color: white;
	text-align: center;
	font-size: 17px !important;
}

.mui-title p {
	float: left;
	/*margin: auto;*/
	color: white;
	margin-left: 5px;
	font-size: 20px !important;
}

.mui-bar .mui-title {
	position: relative;
	right: 40px;
	left: 30%;
	/*margin: auto;*/
}

.circular {
	width: 5px;
	height: 5px;
	background: white !important;
	border-radius: 50%;
	float: left;
	margin-top: 21px;
	margin-left: 2.8px;
}


/*防止被遮住底部*/

.mui-slider-group {
	height: 100%;
	padding-bottom: 43px;
}

.mui-slider {
	position: absolute !important;
	top: 45px;
	bottom: 0px;
}

.mui-control-content {
	background-color: white;
	min-height: 215px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.mui-content {
	height: 100%;
}

.mui-bar-nav {
	background: #b00808;
}

.mui-bar-nav a {
	color: white;
}

.mui-title {
	color: white;
}

.mui-col-xs-4 {
	width: 19.9%;
}

.mui-slider-indicator.mui-segmented-control {
	background: white;
}

.Slogan {
	width: 100%;
	height: 30px;
	/*position: fixed;
	top: 0;
	left: 0px;*/
	z-index: 999;
	background: white;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

.Slogan img {
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 5px;
	line-height: 30px;
	z-index: 10;
}

.Slogan p {
	line-height: 30px;
	margin-left: 20px;
	color: black;
	z-index: 10;
}

.mui-scroll-wrapper {
	margin-top: 33px;
}


/*.mui-scroll>div{
	margin-top: 20px;
}*/

.commodity {
	width: 100%;
	/*height: 130px;*/
	overflow: hidden;
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0px;
	left: 0px;
}

.commodity_img {
	width: 50%;
}

.commodity .commodity_img img {
	width: 110px;
	height: 110px;
	/*margin: 3px 15px;*/
	margin-left: 15px;
	margin-top: 10px;
	float: left;
	margin: 10px 10px;
}

.commodity .describe {
	width: 70%;
	margin-left: 56px;
	margin-top: 10px;
	/*margin-left: 10px;*/
	color: #000000 !important;
}

.describe span {
	margin-top: 20px !important;
	color: #000000 !important;
}

.describe p:nth-child(1) {
	color: #000000;
	font-size: 17px;
}

.describe p:nth-child(2) {
	color: #9f9f9f;
}

.describe p:nth-child(3) {
	color: #9f9f9f;
	margin-top: 10px;
}

.describe p:nth-child(3) span {
	color: #9f9f9f !important;
}

.describe p:nth-child(4) {
	color: #9f9f9f !important;
	margin-top: -5px;
	float: left;
}

.h5 {
	color: #b00808 !important;
}

.h5>span {
	color: #b00808 !important;
}

.Button {
	/*width: 70px;
	height: 30px;*/
	padding:1px 10px;
	position: absolute;
	right: 10px;
	top: 80px;
	background: #B00808;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	color: white !important;
	line-height: 30px;
}


/*防止图片继承宽*/

.mui-slider .mui-slider-group .mui-slider-item img {
	width: auto;
}