<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>搜索</title>
    <script src="__PUBLIC__/home/js/mui.min.js"></script>
    <link href="__PUBLIC__/home/css/mui.min.css" rel="stylesheet"/>
    <!--<link rel="stylesheet" href="css/public.css" />-->
    <link rel="stylesheet" href="__PUBLIC__/home/css/seach/seach.css" />
    <script type="text/javascript" charset="UTF-8">
      	mui.init();
    </script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	     <form method="post" action="{:U('Shach/seachxq')}" name="tijiao">
		    <div class="mui-title">
		    	<span>搜菜谱</span>
		    	<input type="text" name="mohu" placeholder="想找什么，这里输入..."/>
		    </div>
		    <a class="mui-icon mui-pull-right wod"><img src="__PUBLIC__/home/img/home/Cable.png" class="sea" onclick="tijiao.submit()" /></a>

	     </form>
	     
	</header>
	<div class="mui-content mui-content-padded">
	    <div class="seach-top">
	    	<span class="sea-yuan"><img src="__PUBLIC__/home/img/icon/huan.png"/></span>
	    	<span>热门搜索</span>
	    </div>
	    <div class="mui-row">

	    	<foreach name="rm" item="m">
	    	<div class="mui-col-xs-4 mui-col-lg-4">
	    		<span><a href="{:U('Classifi/detail')}?id={$m.id}">{$m.minfo_name|substr=0,12}</a></span>
	    	</div>
	    	</foreach>

	    	
	    </div>
	    <div class="seach-all"><a href="{:U('Menu/menu')}">查看全部菜谱分类</a></div>
	</div>
</body>
<script>
mui.init({
        statusBarBackground:"#FF0000"
    });
	function setStatusbarRed(){
        // 设置系统状态栏背景色为红色
        plus.navigator.setStatusBarBackground("#FF0000");
//		plus.navigator.setStatusBarBackground("#b00808");
}
</script>
</html>