body {
	background: white;
}


/*.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: #B00808;
}

.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar {
	background: #B00808;
}*/

.mui-control-item {
	color: #B00808;
}

.mui-bar-nav h1 {
	color: white;
}

.mui-slider-group {
	height: 100%;
	padding-bottom: 200px;
}

.mui-control-content {
	background-color: white;
	min-height: 215px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.mui-content {
	height: 100%;
}

.mui-slider {
	position: absolute !important;
	top: 45px;
	bottom: 45px;
}

.mui-slider-progress-bar {
	margin-left: 50px;
}

.mui-segmented-control.mui-segmented-control-inverted {
	width: 70%;
	margin: auto;
}

.mui-col-xs-4 {
	width: 35%;
}

.mimg {
	width: 100%;
	height: 160px;
	
}

.mimg img {
	width: 100%;
	height: 100%;
}

.catul {
	width: 100%;
}

.catul li {
	list-style: none;
	width: 100%;
}

.catul li div {
	width: 30%;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.mui-slider .mui-slider-group .mui-slider-item img {
	width: 95%;
}

li {
	list-style: none;
}

.b {
	border-bottom: 2px solid #b00808 !important;
}

.a {
	color: #b00808 !important;
}

.p-box>ul {
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	width: 95%;
	margin: 20px auto;
}

.p-box>ul>li {
	width: 48.8%;
}

.p-big>img {
	width: 95%;
	height: 110px;
}

.n-pone,
.n-ptwo {
	width: 95%;
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
}

.x-name {
	font-size: 14px;
	color: black;
}

.x-money {
	font-size: 10px;
	color: #b00808;
}

.n-ptwo {
	font-size: 10px;
	color: darkgray;
	margin-top: 5px;
}

.n-ptwo>a {
	color: darkgray;
}

.n-btn>input {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 12px;
	padding-right: 12px;
	color: white;
	background: #B00808;
	float: right;
	border-radius: 15px;
	margin-top: 5px;
	outline: none;
	font-size: 12px;
	line-height: 12px;
	margin: 0px 7px;
	border: 0px;
}


/*底部*/

/*.footer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #FFFFFF;
	z-index: 9999;
	padding: 3px 10px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.footer a {
	z-index: 99999;
	color: #929292;
	text-align: center;
	margin: 2px 10px;
}

.footer a img {
	width: 25px;
	height: 25px;
}

.footer p {
	color: #B00808;
	margin-top: -6px;
}

.footer {
	display: -webkit-flex;
	-webkit-justify-content: space-between;
}*/