body {
	position: relative;
	/*background: url(../../img/login/zhuce.jpg) no-repeat center !important;*/
	/*background-size:100% ;*/
	height: 100%;
/*	border: 1px solid red;*/
	
}
.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:75%;
}
.denglu{
	height: 300px;

}
.zhuce{
	display: none;
	height: 300px;
}
.d-btnlu {
	height: 40px;
	border: 1px solid #b00808;
	margin: auto;
	margin-bottom: 25px;
	
}
.d-btnlu>ul{
	display: -moz-box;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	text-align: center;
	height: 100%;
	line-height: 40px;
}
.d-btnlu>ul>li{
	width: 50%;
}
.d-btnlu>ul>li:first-child{
	background: #B00808;
	color: white;
}
.d-btnlu>ul>li:nth-of-type(2){

	color: #B00808;
}
li{
	list-style: none;
}
.input {
	height: 65px;
	margin: auto;
}
.input-username {
	background: url(../../img/login/user.png) no-repeat left;
	background-size: 8%;
}

.input-userPwd {
	background: url(../../img/login/pwd.png) no-repeat left;
	background-size: 8%;
}

.input>.userName,
.input>.userPwd {
	width: 88%;
	margin-left: 28px;
	margin-top: 9px;
	border-bottom: 1px solid #b00808;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	outline: none;
	font-size: 14px;
	padding-bottom: 0px;
	background: none;
}

.d-btn {

	/*margin: 20px auto;*/
}

.d-btn>input {
	width: 100%;
	height: 40px;
	background: #B00808;
	color: white;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
}

html {
	height: 100%;
}


.three {
	display: -moz-box;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	text-align: center;
	position: absolute;
	bottom: -120px;
	left: 50%;
	transform: translate(-50%);
	z-index: -99999;

}

.three>img {
	width: 70px;
	height: 60px;
}

.h-YZM{
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	margin: auto;
}
.h-YZM>.yzm{
	border-radius: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #b00808;
	outline: none;
	font-size: 14px;
	padding-bottom: 0px;
	background: none;
}
.hq{
	height: 35px;
	border-radius: 5px;
	color: white !important;
	background: #B00808 !important;
	margin-top: 6px;
	border: 0px;
	font-size: 12px !important;
	border: 0px;
	outline: none;
}
/*弹出消息框*/
.mui-toast-message{
	width: 200px !important;
}
