.mui-content>.mui-table-view:first-child {
    margin-top: 0px;
}

/*解除li的点击效果*/
.mui-table-view-cell.mui-active{
	background-color: #fff;
}
.d-box{
	width: 100%;
	height: 100px;
}
.box-left{
	width: 25%;
	height: 100px;
}
.box-right{
	width: 75%;
	height: 100px;
	padding-left:10px;
}
/*图片框*/
.img-box{
	width: 87px;
	height: 90px;
}
.img-box img{
	width: 87px;
	height: 90px;
}
.info-top,.info-center,.info-bottom{
	width: 100%;
	height: 33.33%;
	line-height: 33.33px;
	font-size: 16px;
}
.info-center{
	height: 25px;
	line-height: 28px;
}
/*加减样式*/
.shu-jian,.shu-jia{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #a3a3a3;
	float: left;
	margin-top: 1px;
}
.top-right input[type=text]{
	width: 45px;
	height: 30px;
	margin-top: 1px;
	color: #B00808;
	padding: 5px;
	text-align: center;
	float: left;
}
.top-left,.top-right{
	height: 33px;
	line-height: 33px;
}
.info-center i{
	font-style: normal;
	color: #B00808;
}
.info-center .price{
	color: #B00808;
	margin-right: 10px;
}
.info-center .sta{
	color: #a3a3a3;
}
.info-bottom .cui,.info-bottom .tuicai{
	width: 80px;
	height: 28px;
	line-height: 28px;
	border-radius: 10px;
	margin-right: 10px;
	margin-top: 8px;
	text-align: center;
	float: right;
}
/*上菜样式*/
.statusOn{
	color: #000;
}
.no{
	color: #fff;
	background-color: #a3a3a3;
}
/*未上菜样式*/
.statusOff{
	color: #a3a3a3;
}
.on{
	color: #fff;
	background-color: #B00808;
}
